<div class="jumbotron" style="text-align:center">
  <h2>Автоматизированное рабочее место</h2>
  <p style="margin-top:30px">Формирование заявок на закупку сырья и материалов для производства продукта</p>
</div>
