//= require_self
//= require_tree .

@import "twitter/bootstrap";

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#main {
  width: 800px;
}

h1 {
  font-size: 20px;
}

.navbar a {
  text-decoration: none;

  &.active {
    color: rgb(2, 143, 253) !important;
  }
}

.resource-management a {
  text-decoration: none;
  margin-right: 10px;
}
